<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Form</title>
  </head>
  <body class="bg-gray-100 px-8">
    <div class="max-w-2xl m-auto mt-10 p-6 bg-white shadow-md rounded-lg">
      <h1 class="text-2xl font-bold mb-4">Application Form</h1>
      <form
        id="applicationForm"
        class="space-y-4"
        action="http://localhost:1234/applications"
        method="post"
        enctype="multipart/form-data"
      >
        <div>
          <label for="name" class="block text-lg font-medium text-gray-700"
            >Name</label
          >
          <input
            type="text"
            name="name"
            id="name"
            class="mt-1 border-2 border-t-0 border-r-0 border-l-0 focus:ring-blue-500 focus:border-blue-500 focus:border-3 focus:outline-none block w-full border-gray-300"
            required
          />
        </div>
        <div>
          <label for="email" class="block text-lg font-medium text-gray-700"
            >Email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="mt-1 border-2 border-t-0 border-r-0 border-l-0 focus:ring-blue-500 focus:border-blue-500 focus:border-3 focus:outline-none block w-full border-gray-300"
          />
        </div>
        <div>
          <label
            for="phoneNumber"
            class="block text-lg font-medium text-gray-700">Phone Number</label
          >
          <input
            type="tel"
            name="phoneNumber"
            id="phoneNumber"
            class="mt-1 border-2 border-t-0 border-r-0 border-l-0 focus:ring-blue-500 focus:border-blue-500 focus:border-3 focus:outline-none block w-full border-gray-300"
          />
        </div>
        <div>
          <label
            for="profilePicture"
            class="block text-lg font-medium text-gray-700"
            >Profile Picture</label
          >
          <input
            type="file"
            name="profilePicture"
            id="profilePicture"
            accept="image/*"
            class="mt-1 border-2 border-t-0 border-r-0 border-l-0 focus:ring-blue-500 focus:border-blue-500 focus:border-3 focus:outline-none block w-full border-gray-300 pb-2"
          />
        </div>
        <div>
          <label for="message" class="block text-lg font-medium text-gray-700"
            >Message</label
          >
          <textarea
            name="message"
            id="message"
            rows="3"
            class="mt-1 border-2 border-t-0 border-r-0 border-l-0 focus:ring-blue-500 focus:border-blue-500 focus:border-3 focus:outline-none block w-full border-gray-300"
          ></textarea>
        </div>
        <div>
          <button
            type="submit"
            id="submitButton"
            class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <script>
      const url = "http://localhost:1234";

      const applicationForm = document.getElementById(
        "applicationForm"
      ) as HTMLFormElement;
      console.log(applicationForm);

      applicationForm.addEventListener("submit", async (event) => {
        event.preventDefault(); // Prevent the page from reloading when submitting the form

        const formData = new FormData(applicationForm);

        try {
          const response = await fetch(`${url}/applications`, {
            method: "POST",
            body: formData,
          });

          if (response.ok) {
            alert("Application submitted successfully!");
            applicationForm.reset();
          } else {
            const errorMessage = await response.text();
            alert(`Error: ${errorMessage}`);
          }
        } catch (error) {
          console.error("Error submitting application:", error);
          alert(
            "An error occurred while submitting the application. Please try again later."
          );
        }
      });
    </script>
  </body>
</html>
